<div class="form-wrapper mb-5">
  <%= simple_form_for([car, booking]) do |f| %>
    <%= f.input :date_begin,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :date_end,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <p><strong>Total Price:</strong></p>
    <div class="d-flex justify-content-center align-items-center mt-5">
      <%= f.submit class: "btn btn-outline-warning mb-3 rounded-pill p-3 me-3 fs-4" %>
       <% end %>
    </div>
