<div class="footer">
  <div class="footer-links">
    <a href="https://youtu.be/dQw4w9WgXcQ?si=nVwbGlXIDQJ_3vsH" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://youtu.be/dQw4w9WgXcQ?si=nVwbGlXIDQJ_3vsH" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://youtu.be/dQw4w9WgXcQ?si=nVwbGlXIDQJ_3vsH" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://youtu.be/dQw4w9WgXcQ?si=nVwbGlXIDQJ_3vsH" target="_blank"><i class="fab fa-twitter"></i></a>
    <a href="https://media.licdn.com/dms/image/D5603AQEjBOnUhizroA/profile-displayphoto-shrink_800_800/0/1688812928353?e=2147483647&v=beta&t=-GwuBcVpGgpA8kMGFWfYzsK_-iE3ld8KeYfkrx-mpr8" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="text">© <strong>R</strong>etro <strong>R</strong>ide <strong>R</strong>ent 2024 - Tous droits réservés</div>

  <div class="footer-copyright">
    <div class="logo"><%= image_tag "logo-retro-ride-rent.png"  %></div>
  </div>
</div>
