.heading button {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 1rem;
  color: #ba46ba;
  font-weight: 700;
  border-radius: 0.8rem;
  outline: none;
  border: 1px solid #ba46ba;
  background-color: transparent;
}
