.link {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  border-radius: 0.8rem;
  border: 1px solid $dark_turqoise;
  background-color: transparent;
  animation: anim 1s backwards;
  opacity: 0.9;
  text-decoration: none;
  text-decoration: none;
  color: $dark_turqoise;
  margin-top: 1rem;
  margin-right: 2rem;
}

.link:hover, .car-info-btn:hover, .car-info-btn-small:hover {
  background: linear-gradient(to left, $light_turquoise, $dark_turqoise);
  color: #fff;
}

.link:active, .car-info-btn:active, .car-info-btn-small:active {
  transform: translateY(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.container-button {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

// Car info button (displaying individual car info) in index page

.car-info-btn {
  font-family: "Open Sans", sans-serif;
  width: 60%;
  padding: 0.5rem;
  font-weight: 700;
  border-radius: 0.8rem;
  border: 1px solid $dark_turqoise;
  background-color: transparent;
  animation: anim 1s backwards;
  opacity: 0.9;
  text-decoration: none;
  color: $dark_turqoise;
}

.car-info-btn-small{
  font-family: "Open Sans", sans-serif;
  width: 10%;
  padding: 0.5rem;
  font-weight: 700;
  border-radius: 0.8rem;
  border: 1px solid $dark_turqoise;
  background-color: transparent;
  animation: anim 1s backwards;
  opacity: 0.9;
  text-decoration: none;
  color: $dark_turqoise;
}
