.link {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  padding: 1rem;
  font-weight: 700;
  border-radius: 0.8rem;
  border: 1px solid $dark_turqoise;
  background-color: transparent;
  animation: anim 1s 1s backwards;
  opacity: 0.9;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: $dark_turqoise;
}

.link:hover {
  background: linear-gradient(to left, $light_turquoise, $dark_turqoise);
  color: #fff;
}

.link:active {
  transform: translateY(0.2rem);
}

@keyframes anim {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.link {
  margin-top: 1rem;
  margin-right: 2rem;
}

.container-button {
  display: flex;
  justify-content: space-between;

  align-items: flex-end;
  position: relative;
}
