.index-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6rem 0;
  min-height: 100vh;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Light gray box-shadow */
}

.cards-wrapper li {
  color: $black;
}

.cards-wrapper strong {
  color: $dark_turqoise;
  font-size: 1.1rem;
  border-radius: 10px;
}

// Responsive

@media(max-width: 620px) {
  .test-3 {
    display: block;
    margin: 0 auto;
  }

  .index-container {
    margin: 0 auto;
  }

  #test4 {
    width: 100%;
    margin: 0 auto;
  }

  #test5 {
    width: 100%;
    margin: 0 auto;
  }

}
