.homepage-container {
  display: flex;
  margin: 5rem;
  position: relative;
}

.heading {
  flex: 0 1 50%;
  width: 50%;
  padding: 2rem;
  margin-left: 2rem;
}

.photo-container {
  width: 50%;
  flex: 1 1;
  position: relative;
  margin-right: 2rem;
}

.heading h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: $black;
}

.heading p {
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
  margin-bottom: 2rem;
}

.heading span {
  color: $reddish_orange;
  font-weight: 700;
}

.image {
  width: 12rem;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.4);
  border-radius: 0.4rem;
  border: 0.2rem solid $orange;
}

.image-one {
  transform: translate(-35%, -80%);
}

.image-two {
  transform: translate(-120%, -40%);
}

.image-three {
  transform: translate(50%, -40%);
}

.image-four {
  transform: translate(-35%, 10%);
}

// Adding animation to image container

.photo-container {
  animation: scale 12s;
}

@keyframes scale {
  0% {
      transform: scale(1.2);
  }

  100% {
      transform: scale(1);
  }
}
